<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Customers" connectionString="Data Source=localhost; Database=TestDB; User ID=sa; Password=qq10023655; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--ConfigurationManager.ConnectionStrings["SQL_DB_CONNECTION"]-->
  </connectionStrings>
  <appSettings>
  
  </appSettings>
</configuration>